{% extends 'about.html' %}
{% block content %}


<div class="w3ls-banner">
	<div class="heading">
		<h1>Doctor Register</h1>
	</div>
		<div class="container_1">
			<div class="heading">
				<h2>Please Enter Details</h2>
				<!-- <p>Fill the form below and submit your query we will contact you as soon as possible.</p> -->
			</div>
			<div class="agile-form">
				<form action="/doctor_reg/" method="post">
					{% csrf_token %}
					<ul class="field-list">
						<li>
							<label class="form-label"> 
								Full Name 
								<span class="form-required"> * </span>
							</label>
							<div class="form-input">
								<input type="text" name="name" placeholder="Enter Full Name" required >
							</div>
						</li>
						<li>
							<label class="form-label">
							   Gender
							   <span class="form-required"> * </span>
							</label>
							<div class="form-input">
								<select class="form-dropdown" name="gender" required>
									<option selected="" disabled="">&nbsp;</option>
									<option value="Male"> Male </option>
									<option value="Female"> Female </option>
									<option value="Transgender"> Transgender </option>
								</select>
							</div>
						<li>
						<li> 
							<label class="form-label">
							   Mobile Number
							   <span class="form-required"> * </span>
							</label>
							<div class="form-input">
								<input type="text" name="phone" placeholder="Mobile Number" required >
							</div>
						</li>
						<li>
							<label class="form-label">
							   Date of Birth
							   <span class="form-required"> * </span>
							</label>
							<div class="form-input">
								<input type="date" name="dob" placeholder="Date of Birth" required >
							</div>
							
						</li>
						<li> 
							<label class="form-label">
							   Address
							   <span class="form-required"> * </span>
							</label>
							<div class="form-input add">
								<span class="form-sub-label">
									<textarea name="address" placeholder="Street Address" required="" rows="6"></textarea>
									
								</span>
								
							</div>
						</li>
						<li> 
							<label class="form-label">
							   E-Mail Address
							   <span class="form-required"> * </span>
							</label>
							<div class="form-input">
								<input type="email" name="email" placeholder="myname@example.com" required>
							</div>
						</li>
						<li> 
							<label class="form-label">
							  Password
							   <span class="form-required"> * </span>
							</label>
							<div class="form-input">
								<input type="password" name="pswd" placeholder="Enter Password" required>
							</div>
						</li>
						
					</ul>
					<input type="submit" value="Register Now">
				</form>	
			</div>
		</div>
</div>

{% endblock %}