{% extends 'Doctor/doctor_home.html' %}
{% block content %}


<div class="w3ls-banner">
	<div class="heading">
		<h1>View Patients</h1>
	</div>
		<div class="container_1">
			<div class="heading">
				<!-- <h2>Please Enter Details</h2> -->
				<!-- <p>Fill tde form below and submit your query we will contact you as soon as possible.</p> -->
			</div>
			<div class="agile-form">

				<div class="card-body">
              <form action="/doctor_add_report/" method="POST">
                      {% csrf_token %}
                       <input type="text" name="id" hidden value="{{idd}}">

                      <div class="form-group valid-form">
                        <textarea  name="description" class="form-control" placeholder="Type Report Here.." required=""></textarea>
                      </div>
                      <div class="col-sm-12 contact-right">
        <input type="submit" value="Submit" style="margin-left: 180px; margin-top:10px; padding: 10px 10px; background:   #0080ff" >
        </div>
                    </form>
            </div>

            </div>
			</div>
		</div>
</div>

{% endblock %}