{% extends 'Admin/admin_home.html' %}
{% block content %}
<div class="container">
	<h3 class="heading-agileinfo">Doctor List</h3>
	<div class="col-md-12 about-w3right">
		<table border="1" class="table">
			<tr>
				<th>Name</th>
				<th>Gender</th>
				<th>Phone</th>
				<th>DOB</th>
				<th>Address</th>
				<th>Email</th>
				<th>Password</th>
				<th></th>
			</tr>
			{% for x in var %}
			<tr>
				<td>{{x.name}}</td>
				<td>{{x.gender}}</td>
				<td>{{x.phone}}</td>
				<td>{{x.dob}}</td>
				<td>{{x.address}}</td>
				<td>{{x.email}}</td>
				<td>{{x.pswd}}</td>
				<td>{{x.status}}</td>

			</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}